header.header
    .header_total
        .header__logo
                a(href=routes.home) 
                    i.fas.fa-volleyball-ball Alleys
        .header__menu
            ul.menu
                li
                    a(href=routes.travel) Travel
                li
                    a(href=routes.transport) Transportation
                li
                    a(href=routes.blog) Blog
                li
                    a(href=routes.course) Course
        .header__column
            ul.user   
                if !user
                    li
                        a(href=routes.login) Login
                    li
                        a(href=routes.join) Join
                else
                    li
                        a(href=routes.userDetail(user.id)) Profile
                    li
                        a(href=routes.logout) Log Out