ul.menu__bar
    li
        a(href=routes.food) Food
    li
        a(href=routes.market) Market
    li
        a(href=routes.nightscape) Nightscape
    li
        a(href=routes.street) Street
    li
        a(href=routes.spot) Spot
   
        