extends layouts/main

block content
    .post__link
        a(href=routes.editBlog(blog.id)) Edit Your Post
    .blog__link
        a(href=routes.blog) go back list
        .blog__pic
            blog(src=`/${blog.img}`)
        .blog__header
            h2.blog__title=blog.title
        .blog__content
            h4.blog__post=blog.post
    .blog__comments
        if blog.comments.length == 1
            span.blog__comment-number 1 comment
        else 
            span.blog__comment-number #{blog.comments.length} comments