nav.travel__bar 
    ul.travel__bar__nav
        li
            a(href=`travel${routes.food}`) Food
        li
            a(href=`travel${routes.market}`) Market
        li
            a(href=`travel${routes.nightscape}`) Nightscape
        li
            a(href=`travel${routes.street}`) Street
        li
            a(href=`travel${routes.spot}`) Spot